

.session-button {
      cursor: pointer;
      color: #ffff;
      background-color: #5865f2;
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
      width: 100%;
      height: 44px;
      min-width: 130px;
      transition: background-color .17s ease, color .17s ease;
      border-radius: 3px;
      border: 0;
}

.session-button:hover {
      background-color: #4752c4;
}

.session-button:active {
      background-color: #3c45a5;
}

.session-link-container {
      font-size: 14px;
      line-height: 16px;
      font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      margin-top: 20px;
      padding: 2px 4px;
}

.session-link-container {
      a {
            text-decoration: none;
            color: #05a5e4;
      }

      a:hover {
            text-decoration: underline;
      }

      span {
            color: #72767d;
      }
}

#demo-user-button {
      margin-top: 20px;
}