.channel-shell {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      background-color: #36393f;
      box-sizing: border-box;
      font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.channel-header {
      display: flex;
      align-items: center;
      min-height: 48px;
      border-bottom: 1px solid #292b2f;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      color: white;
      padding: 0 8px;
      font-size: 16px;
      z-index: 2;

      svg {
            margin: 0 8px;
            color: #72767d;
      }
}

.channel-content-shell {
      height: calc(100% - 49px);
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
}


.users-list-shell {
      overflow: hidden scroll;
      overflow-y: auto;
      background-color: #2f3136;
      width: 240px;
      padding: 0 0 20px;
      color: #8e9297;
      padding-right: 10px;
      padding-left: 10px;

}

.users-list-shell>div {
      padding: 24px 8px 0 16px;
      height: 40px;
      font-family: 'ginto-normal', "Whitney", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: .25px;
      font-weight: 600;
      margin: 0px;
}

.server-user-info {
      display: flex;
      align-items: center;
      border-radius: 4px;
      height: 42px;
      padding: 0 8px;
      position: relative;

      img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 12px;
            line-height: 20px;
      }

}


.server-user-info .server-user-dm {
      display: none;
}

.server-user-info:hover .server-user-dm {
      display: flex;
}

.server-user-dm {
      align-items: center;
      position: absolute;
      background-color: #36393f;
      box-shadow: 0 0 0 1px rgba(4, 4, 5, 0.15);
      box-sizing: border-box;
      height: 24px;
      border-radius: 4px;
      padding: 0 6px;
      bottom: 32px;
      transition: background-color, color .1s ease-out, background-color, color .1s ease-out;
}

.server-user-dm:hover {
      color: white;
      filter: brightness(1.1);
}