.create-channel-container {
      position: relative;
      width: 440px;
      // height: 520px;
      background-color: #36393f;
      box-shadow: 0 0 0 1px #20222599, 0 2px 10px 0 #00000033;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      font-family: 'ginto-normal', "Whitney", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.create-channel-header {
      margin-top: 16px;
      margin-bottom: 16px;
      border-radius: 5px 5px 0 0;
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
}

.create-channel-header>h2 {
      font-weight: 700;
      color: white;
      font-size: 24px;
      line-height: 30px;
}

.create-channel-header>div {
      color: #b9bbbe;
      font-size: 12px;
      line-height: 16px;
      font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.channel-create-form {
      // padding-right: 8px;
      // padding-left: 16px;
      border-radius: 5px 5px 0 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
}

.channel-create-form>label {
      color: #dcddde;
      padding-right: 8px;
      padding-left: 16px;
      margin-bottom: 8px;
      font-size: 12px;
      line-height: 16px;
      font-weight: 700;
}

.channel-create-form>input {
      margin-left: 16px;
      margin-right: 8px;
      padding: 10px;
      height: 40px;
      font-size: 16px;
      box-sizing: border-box;
      width: 93%;
      border-radius: 3px;
      color: #dcddde;
      background-color: #202225;
      outline: 0;
      border: 0;
      margin-bottom: 20px;

}

.channel-create-footer {
      box-shadow: inset 0 1px 0 #2f313699;
      background-color: #2f3136;
      border-radius: 0 0 5px 5px;
      padding: 16px;
      display: flex;
      justify-content: flex-end;
      font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.channel-create-footer>div {
      color: white;
      height: 38px;
      font-size: 14px;
      line-height: 16px;
      border-radius: 3px;
      padding: 2px 16px;
      display: flex;
      align-items: center;
}

.channel-create-footer>div:hover {
      cursor: pointer;
      text-decoration: underline;
}

.channel-create-footer>button {
      color: white;
      background-color: #4d59d5;
      height: 38px;
      transition: background-color .17s ease;
      box-sizing: border-box;
      border-radius: 3px;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      padding: 2px 16px;
      outline: 0;
      border: 0;
}

.channel-create-footer>button:hover {
      cursor: pointer;
      background-color: #4752c4;
}