.modal-underlay {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.7);
      z-index: 10;
}

.modal-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.close-button {
      cursor: pointer;
      position: fixed;
      left: 91%;
      top: 5%;
      color: #a7abb0;
      line-height: 16px;
      transition: color .17s ease;
}

.close-button:hover {
      color: #060607;
}