// .server-index-modal-shell  = .server-index-modal
.server-index-modal-shell {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      width: 100%
}


// .server-index-modal-content   
.server-index-modal-content {
      margin-top: 24px;
      padding: 0 8px 8px 16px;
      width: 100%;
      box-sizing: border-box
}