
.conversation-shell {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      box-sizing: border-box; 
}

.conversation-shell > header {
      display: flex;
      align-items: center;
      height: 50px;
      border-bottom: 1px solid #292b2f;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      color: white;
      padding: 0 8px;
      font-size: 16px;
      z-index: 2;
      font-family: 'ginto-normal', "Whitney", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 600;
}

.conversation-content {
      height: 100%;
      box-sizing: border-box;
}

.conversation-list-shell {
      color: #96989d;
}

.conversation-list-shell > header {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      box-sizing: border-box;
      height: 48px;
      border-bottom: 1px solid #202225;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      background-color: #2f3136;
      padding: 0px 19px;
      margin-bottom: 8px;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: .02em;
      font-family: 'ginto-normal', "Whitney", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 600;
}