// .session-form-underlay
.session-form-underlay {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;

      background: url(https://i.imgur.com/h6BQSby.png);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: bottom;

      z-index: 1;
}

// .input-container
// .input-error
// .error-message 


// .session-link-container
// .session-form-header

// .session-button
// #demo-user-button

// .session-form-container
.session-form-container {
      background-color: #5865f2;

      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
}

// .input-form-container
.input-form-container {
      display: flex;
      flex-direction: column;

      border-radius: 10px;
      width: 480px;
      padding: 32px;

      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      background: #36393f;

      z-index: 2;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

// .session-form

.session-form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      margin-top: 25px;
}

.input-container {
      width: 95%;
      margin-bottom: 20px;
}


.session-form-header h3 {
      font-family: 'ginto-normal', "Whitney", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 24px;
      line-height: 30px;
      font-weight: bold;
      color: white;
      text-align: center;
      margin-bottom: 8px;
}

.session-form-header div {
      font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 16px;
      line-height: 20px;
      color: #b9bbbe;
      text-align: center;
}

.input-container label {
      display: flex;
      font-size: 12px;
      font-family: 'ginto-normal', "Whitney", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      color: #b9bbbe;
      margin-bottom: 8px;
      line-height: 16px;
      font-weight: 600;
}

.input-container input {
      padding: 10px;
      font-size: 16px;
      width: 100%;
      border-radius: 3px;
      color: #dcddde;
      background-color: rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.3);
      transition: border-color .2s ease-in-out;
}

.input-container input:hover {
      border-color: #040405;
}

.input-container input:focus {
      border-color: #1386b6;
      outline: none;
}

.input-container span {
      font-size: 12px;
      font-weight: 500;
      font-style: italic;
      text-transform: none;
}

.input-error label {
      color: #e44245
}

.input-error input {
      border-color: #e44245;
}

.input-error input:hover {
      border-color: #e44245;
}

.input-error input:focus {
      border-color: #e44245;
}



.session-button {
      cursor: pointer;
      color: #ffff;
      background-color: #5865f2;
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
      width: 100%;
      height: 44px;
      min-width: 130px;
      transition: background-color .17s ease, color .17s ease;
      border-radius: 3px;
      border: 0;
}

.session-button:hover {
      background-color: #4752c4;
}

.session-button:active {
      background-color: #3c45a5;
}

.session-link-container {
      font-size: 14px;
      line-height: 16px;
      font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      margin-top: 20px;
      padding: 2px 4px;
}

.session-link-container a {
      text-decoration: none;
      color: #05a5e4;
}

.session-link-container a:hover {
      text-decoration: underline;
}

.session-link-container span {
      color: #72767d;
}

#demo-user-button {
      margin-top: 20px;
}