
.user-options-shell {
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 8px;
      margin-bottom: 1px;
      background-color: #292b2f;
      width: 240px;
      box-sizing: border-box;
}

.user-info-container {
      display: flex;
}

.user-info-shell>img {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      margin-right: 8px;
}

.user-icon-shell {
      display: flex;
}