@font-face {
      font-family: 'whitney';
      src: url('../fonts/whitney.ttf') format('truetype');
    };
    
    @font-face {
      font-family: 'ginto-normal';
      src: url('../fonts/ginto-normal.ttf') format('truetype');
    };
    
    @font-face {
      font-family: 'ginto-nord-black';
      src: url('../fonts/ginto-nord-black.ttf') format('truetype');
 };